Confirmation de commande
==============================================================
    
Bonjour,

Nous avons le plaisir de confirmer votre commande d'un montant total de : <%= @order.total_price %>€.

Voici le détail de votre commande :

<% @order.items.each do |item| %>
  <%= link_to "#{item.title}", item.image_url %> (<%=item.price%> €) x<%=item.join_table_item_orders.find_by(order_id: @order.id).quantity%>
  <% if item.item_picture.attached? %>
    <div class="cart-item">
      <div class="cart-item__picture">
        <%= image_tag item.item_picture, alt: 'image' %>
      </div>
    </div>
  <% end %>
<% end %>

A bientôt sur Poticha.
